@page "/invoice/{Id:long}"

@using System.Text
@using InvoizR.Clients.Contracts
@using InvoizR.Clients.DataContracts
@using InvoizR.Clients.DataContracts.Invoices

@inject IInvoizRClient InvoizRClient

<PageTitle>Invoice Details - @Id</PageTitle>

<h3>Invoice Details</h3>
<h4>@Id</h4>

<br />

@if (DetailsModel == null)
{
    <MudText Typo="Typo.caption">There is no invoice with @Id ID.</MudText>
    return;
}

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Customer</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body2">Name: <strong>@DetailsModel?.CustomerName</strong></MudText>
        <MudText Typo="Typo.body2">Country: <strong>@DetailsModel?.CustomerCountryId</strong></MudText>
        <MudText Typo="Typo.body2">Address: <strong>@DetailsModel?.CustomerAddress</strong></MudText>
        <MudText Typo="Typo.body2">Phone: <strong>@DetailsModel?.CustomerPhone</strong></MudText>
        <MudText Typo="Typo.body2">Email: <strong>@DetailsModel?.CustomerEmail</strong></MudText>
    </MudCardContent>
</MudCard>

<br />

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Invoice</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Receipt" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body2">Tipo y número: <strong>@DetailsModel?.InvoiceTypeId</strong> - <strong>@DetailsModel?.InvoiceNumber</strong></MudText>
        <MudText Typo="Typo.body2">Fecha: <strong>@DetailsModel?.InvoiceDate</strong></MudText>
        <MudText Typo="Typo.body2">Total: <strong>@DetailsModel?.InvoiceTotal.ToCurrency()</strong></MudText>
        <MudText Typo="Typo.body2">Esquema: <strong>@DetailsModel?.SchemaType</strong> - <strong>@DetailsModel?.SchemaVersion</strong></MudText>
        <MudText Typo="Typo.body2">Código de generación: <strong>@DetailsModel?.InvoiceGuid</strong></MudText>
        <MudText Typo="Typo.body2">Número de control: <strong>@DetailsModel?.AuditNumber</strong></MudText>
        <MudText Typo="Typo.body2">Fecha de emisión: <strong>@DetailsModel?.EmitDateTime</strong></MudText>
        <MudText Typo="Typo.body2">Sello de recepción: <strong>@DetailsModel?.ReceiptStamp</strong></MudText>
        @if (DetailsModel?.Processed == true)
        {
            <a href="@DetailsModel?.ExternalUrl" target="_blank">
                <MudButton Color="Color.Secondary" Variant="Variant.Filled">
                    Visualizar en Portal del Ministerio de Hacienda
                </MudButton>
            </a>
        }
    </MudCardContent>
</MudCard>

<br />

<MudExpansionPanels>
    <MudExpansionPanel Text="DTE" Expanded="false">
        @if (DetailsModel.IsDte01())
        {
            <Dte01 Json="@DetailsModel.Payload" />
        }
        else if (DetailsModel.IsDte03())
        {
            <Dte03 Json="@DetailsModel.Payload" />
        }
        else if (DetailsModel.IsDte04())
        {
            <Dte04 Json="@DetailsModel.Payload" />
        }
        else if (DetailsModel.IsDte14())
        {
            <Dte14 Json="@DetailsModel.Payload" />
        }
    </MudExpansionPanel>
</MudExpansionPanels>

<br />

<h5>Processing Status Logs</h5>

<br />

<MudTimeline>
    @foreach (var processingStatus in DetailsModel.ProcessingStatusLogs)
    {
        @if (processingStatus.ProcessingStatusId >= 3000)
        {
            <MudTimelineItem Color="Color.Success">
                <MudText Color="Color.Success" Typo="Typo.body2">@processingStatus.ProcessingStatus</MudText>
                <MudText Typo="Typo.body2">@processingStatus.CreatedAt</MudText>
            </MudTimelineItem>
        }
        else if (processingStatus.ProcessingStatusId == 2000)
        {
            <MudTimelineItem Color="Color.Error">
                <MudText Color="Color.Error" Typo="Typo.body2">@processingStatus.ProcessingStatus</MudText>
                <MudText Typo="Typo.body2">@processingStatus.CreatedAt</MudText>
            </MudTimelineItem>
        }
        else if (processingStatus.ProcessingStatusId == 1000)
        {
            <MudTimelineItem Color="Color.Info">
                <MudText Color="Color.Info" Typo="Typo.body2">@processingStatus.ProcessingStatus</MudText>
                <MudText Typo="Typo.body2">@processingStatus.CreatedAt</MudText>
            </MudTimelineItem>
        }
        else
        {
            <MudTimelineItem Color="Color.Default">
                <MudText Color="Color.Default" Typo="Typo.body2">@processingStatus.ProcessingStatus</MudText>
                <MudText Typo="Typo.body2">@processingStatus.CreatedAt</MudText>
            </MudTimelineItem>
        }
    }
</MudTimeline>

<br />

@if (DetailsModel.ProcessingLogs?.Count > 0)
{
    <h5>Processing Logs</h5>

    <br />

    <MudExpansionPanels>
        @foreach (var processingLog in DetailsModel.ProcessingLogs)
        {
            <MudExpansionPanel Text="@processingLog.LogType" Expanded="false">
                <MudText Typo="Typo.body2">Processing status: <strong>@processingLog.ProcessingStatus</strong></MudText>
                <MudText Typo="Typo.body2">Created at: <strong>@processingLog.CreatedAt</strong></MudText>
                <MudText Typo="Typo.body2">Content type: <strong>@processingLog.ContentType</strong></MudText>
                <div style="overflow-x: auto; white-space: pre-wrap; width: 100%;">
                    <pre>@processingLog.Content</pre>
                </div>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
}

<br />

@if (DetailsModel.Files?.Count > 0)
{
    <h5>Files</h5>

    <br />

    <MudExpansionPanels>

        @foreach (var file in DetailsModel.Files)
        {
            if (file.IsJson)
            {
                <MudExpansionPanel Text="JSON" Expanded="false">
                    <MudText Typo="Typo.subtitle2">
                        <div style="overflow-x: auto; white-space: pre-wrap; width: 100%;">
                            <pre>@file.GetJson()</pre>
                        </div>
                    </MudText>
                </MudExpansionPanel>
            }
            else if (file.IsPdf)
            {
                <MudExpansionPanel Text="PDF" Expanded="false">
                    <embed style="width: 100%; height: 90vh;" type="application/pdf" src="data:application/pdf;base64,@file.GetPdf()" />
                </MudExpansionPanel>
            }
        }

    </MudExpansionPanels>

    <br />
}

@if (DetailsModel.Notifications?.Count > 0)
{
    <h5>Notifications</h5>

    <br />

    <MudExpansionPanels>

        <MudTable Items="DetailsModel.Notifications">
            <HeaderContent>
                <MudTh>Email</MudTh>
                <MudTh>Bcc</MudTh>
                <MudTh>Files</MudTh>
                <MudTh>Successful</MudTh>
                <MudTh>Created At</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Email">@context.Email</MudTd>
                <MudTd DataLabel="Bcc">@(context.Bcc == true ? "Yes" : "No")</MudTd>
                <MudTd DataLabel="Files">@context.Files</MudTd>
                <MudTd DataLabel="Successful">@(context.Successful == true ? "Yes" : "No")</MudTd>
                <MudTd DataLabel="Created at">@context.CreatedAt</MudTd>
            </RowTemplate>
        </MudTable>

    </MudExpansionPanels>

    <br />
}

<a href="@("/invoice")">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowBack" />
</a>

@code {
    [Parameter] public long? Id { get; set; }

    private InvoiceDetailsModel DetailsModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DetailsModel = await InvoizRClient.GetInvoiceAsync(Id);
    }
}
