@page "/branch/{Id:int?}"

<PageTitle>Branch Details - @Id</PageTitle>

@using InvoizR.Clients.Contracts
@using InvoizR.Clients.DataContracts
@using InvoizR.Clients.DataContracts.Common

@inject IInvoizRClient InvoizRClient

<h3>Branch Details</h3>
<h4>@Id</h4>

@if (response == null)
{
    return;
}

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Branch</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.BusinessCenter" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body2">Name: @response?.Model.Name</MudText>
        <MudText Typo="Typo.body2">Tax Auth ID: @response?.Model.TaxAuthId</MudText>
        <MudText Typo="Typo.body2">Address: @response?.Model.Address</MudText>
        <MudText Typo="Typo.body2">Phone: @response?.Model.Phone</MudText>
        <MudText Typo="Typo.body2">Email: @response?.Model.Email</MudText>
    </MudCardContent>
</MudCard>

<br />

<h5>Points of Sales</h5>

<br />

<MudTable Items="response.Model.Pos">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Code</MudTh>
        <MudTh>Tax Auth ID</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Code">@context.Code</MudTd>
        <MudTd DataLabel="Tax Auth ID">@context.TaxAuthId</MudTd>
    </RowTemplate>
</MudTable>

<br />

@if (response?.Model.HasLogo == true)
{
    <h5>Logo</h5>

    <br />
    <img alt='Logo' src='data:image/png;base64, @(response.Model.Logo)' style="height: 200px; width: 200px;">
    <br />
}

<a href="@($"/company/{response.Model.CompanyId}")">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowBack" />
</a>

@code {
    [Parameter] public int? Id { get; set; }

    private SingleResponse<BranchDetailsModel> response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        response = await InvoizRClient.GetBranchAsync((short)Id);
    }
}
