@page "/company/{Id:int?}"

@using InvoizR.Clients.Contracts
@using InvoizR.Clients.DataContracts
@using InvoizR.Clients.DataContracts.Common

@inject IInvoizRClient invoizRClient

<PageTitle>Company Details - @Id</PageTitle>

<h3>Company Details</h3>
<h4>@Id</h4>

<br />

@if (response != null)
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Company</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Business" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudText>Name: @response?.Model.Name</MudText>
            <MudText>Code: @response?.Model.Code</MudText>
            <MudText>Business Name: @response?.Model.BusinessName</MudText>
            <MudText>Tax Id Number: @response?.Model.TaxIdNumber</MudText>
            <MudText>Tax Registration Number: @response?.Model.TaxRegistrationNumber</MudText>
            <MudText>Economic Activity Id: @response?.Model.EconomicActivityId</MudText>
            <MudText>Economic Activity: @response?.Model.EconomicActivity</MudText>
            <MudText>Address: @response?.Model.Address</MudText>
            <MudText>Phone: @response?.Model.Phone</MudText>
            <MudText>Email: @response?.Model.Email</MudText>
        </MudCardContent>
    </MudCard>

    <br />

    <h5>Branches</h5>

    <br />

    <MudTable Items="response?.Model.Branches">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Establishment prefix</MudTh>
            <MudTh>Tax Auth ID</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Establishment prefix">@context.EstablishmentPrefix</MudTd>
            <MudTd DataLabel="Tax Auth ID">@context.TaxAuthId</MudTd>
            <MudTd>
                <a href="@($"/branch/{@context.Id}")">
                    <MudIcon Icon="@Icons.Material.Filled.Details" Title="Details" />
                </a>
            </MudTd>
        </RowTemplate>
    </MudTable>

    <br />

    <h5>Responsibles</h5>

    <br />

    <MudTable Items="responsibles.Model">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Phone</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>ID Type</MudTh>
            <MudTh>ID Number</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Name">@context.Phone</MudTd>
            <MudTd DataLabel="Name">@context.Email</MudTd>
            <MudTd DataLabel="Name">@context.IdTypeDesc</MudTd>
            <MudTd DataLabel="Name">@context.IdNumber</MudTd>
        </RowTemplate>
    </MudTable>

    <br />

    @if (!string.IsNullOrEmpty(response?.Model.Logo))
    {
        <h5>Logo</h5>

        <br />

        <img alt='Logo' src='data:image/png;base64, @(response?.Model.Logo)' style="height: 200px; width: 200px;">

        <br />
    }

    <a href="@("/company")">
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowBack" />
    </a>
}

@code {
    [Parameter] public int? Id { get; set; }

    private SingleResponse<CompanyDetailsModel> response { get; set; }
    private ListResponse<ResponsibleItemModel> responsibles { get; set; }

    protected override async Task OnInitializedAsync()
    {
        response = await invoizRClient.GetCompanyAsync((short)Id);
        if (response != null)
        {
            responsibles = await invoizRClient.GetResponsiblesAsync(new() { CompanyId = (short)Id });
        }
    }
}
